<div class="background">
    <div style="font-size: 24px">Choose your language</div>
    <br>
    <div class="box">
        <div class="box2"><img src="../../../assets/image/java-logo-11609365784e4gmvr3iyr.png" height="90px">Java</div>
    </div>
    <br>
    <div class="box">
        <div class="box2"><img src="../../../assets/image/go.png" height="90px">Go lang</div>
    </div>
    <br> 
    <div class="box">
        <div class="box2"><img src="../../../assets/image/kotlin.png" height="90px">kotlin</div>
    </div>
</div>